.news-item {
    /* background-color:antiquewhite; */
    list-style: none;
    border-radius: 8px;
    padding: 0.9rem;
    margin: 1.3rem;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    transition: transform 0.3s ease-in-out;
    border-radius: 15px;
    border: 0.5px solid rgba(225, 225, 225, 0.7);
    box-shadow: -3px 3px 6px rgba(10, 10, 10, 0.25); 
    cursor: pointer;
/* box-shadow:  7px -7px 14px #5a5a5a,
             -7px 7px 14px #ffffff; */
             background-color: rgba(111, 103, 103, 0.3); 
    backdrop-filter: blur(10px);
    /* border-radius: 15px; */
  }
  
  .news-item:hover {
    transform: translateY(-5px);
  }
  
  .news-item h2 {
    font-size: 1.2rem;
    margin: 0;
    color: white;
  }
  
  .news-item h4 {
    font-size: 1rem;
    margin-top: 5px;
    color: white;
  }