.footer-site-map{
    display: flex;
    flex-direction: row;
    width: 70%;
    gap: 0.5rem;
    margin-left: 2rem;
}

.footer-map-col{
    width: 32%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:1.8rem;
    /* padding-top: 0.5rem ; */
}

.footer-map-col p{
    /* padding-top: 0px; */
    /* padding-bottom: 0px; */
    margin-top: 0;
}

.footer-map-col h5{
    text-decoration: underline;
}

.footer-map-col h5:hover, p:hover{
    cursor: pointer;
}

.footer-site-map a{
        display: inline-block;
        color: #fff;
        text-decoration: none; 
        border-radius: 5px; 
}